{% extends "base.html" %}

{% block content %}
<h1 class="text-center my-5">All The tasks</h1>
<section class="row my-5 container-xl gap-2 mx-auto">
  <div class="row row-cols-3 g-3">
    {% for task in tasks %}
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-header fw-bold">
            {{ task.task_title }}
          </div>
          <div class="card-body">
            <p class="card-text">{{ task.task_description }}</p>
            {% for cate in task.task_categories.all %}
              <span class="badge rounded-pill text-bg-warning">#{{ cate.category_name }}</span>
            {% endfor %}
            <hr>
            <div class="d-flex justify-content-between">
              {% if task.is_completed %}
                <button class="btn btn-success mx-auto">Completed</button>
              {% else %}
                <a href="{% url 'edit_task' task.id %}" class="btn btn-info">Edit</a>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}
